/* CSS For the text swap/flip effect inspired by https://landonorris.com/ */

.norris-swap {
    display: none;
    overflow: hidden;
    text-decoration: none;
    vertical-align: bottom;
}

@media (min-width: 768px) {
    .norris-swap {
        display: inline-flex;
    }
}

.norris-swap span.char {
    position: relative;
    display: inline-block;
    overflow: hidden;
    white-space: pre;
    visibility: hidden;
    vertical-align: bottom;
}

.norris-swap span.char::before,
.norris-swap span.char::after {
    position: absolute;
    left: 0;
    width: 100%;
    visibility: visible;
    transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
    transition-delay: calc(var(--index) * 25ms);
}

.norris-swap span.char::before {
    content: attr(data-start);
    top: 0;
    transform: translateY(0%);
    color: inherit;
}

.norris-swap span.char::after {
    content: attr(data-end);
    top: 0;
    transform: translateY(100%);
    color: var(--swap-color, inherit);
}

.norris-swap:hover span.char::before,
.norris-swap.active span.char::before {
    transform: translateY(-100%);
}

.norris-swap:hover span.char::after,
.norris-swap.active span.char::after {
    transform: translateY(0%);
}
